.navbar {
    background-color: #333;
  }

  .navbar-brand {
    font-family: 'Amatic SC';
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  .nav-link {
    color: #fff;
  }

  .navbar-brand {
    font-weight: bold;
  }

  .nav-link {
    padding: 10px 20px;
  }

  .btn-dark {
    background-color: #000;
  }

  .navbar {
    border-bottom: 3px solid #ffc106;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }